body,html{
  margin: 0;
  padding: 0;
}
header{
  background: #883d54;
  height: 100px;
  width: 100%;
  position: relative;
  color: #fff;
span{
  position: absolute;
  top:0;
  left:0;
}
  .contact{
    position: absolute;
    right:0;
    top:50%;
    a{
      color: inherit;
      text-decoration: none;
    }
  }
  .nav{
    position: absolute;
    bottom: 0;
    left:50%;
    a{
      display: inline-block;
      margin-left:10px;
      height: 20px;
      width: 20px;
      background: yellow;
    }
  }
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #999;
  text-align: center;
  line-height: 50px;
}