body {
  width: 60vw;
  margin: 0 auto;
}
h1,h2,h3 {
  text-align: center;
}
wrapper {
  display: block;
  height: 30vh;
  background: lightblue
}
copyright {
  display: block;
  text-align: right; 
}
.sa_content {
  margin-top: 40px;
}
.sa_content a{
  text-decoration: none;
}