body {
  width: 60vw;
  margin: 0 auto;
}
h1,h2,h3 {
  text-align: center;
}
wrapper {
  display: block;
  background: #e3eef2;
  padding: 30px 30px 50px;
}
copyright {
  display: block;
  text-align: right; 
}
.sa_content {
  margin-top: 40px;
}
.sa_content a{
  text-decoration: none;
}
i.iconfont {
  font-size: 30px;
  color: black;
  padding: 5px;
}
p {
  text-indent: 2em
}